
nav{
    
        background: rgba(246, 246, 246, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 25px 25px 25px 25px;
        border: 1px solid rgba(140, 135, 135, 0.2);
      
    
    width:fit-content;
   justify-content: center;
    padding:0.7rem 2.7rem ;
    top:25px;
    position:sticky;
    margin-left:50%;
    transform:translateX(-50%);
    z-index: 1000;
    display:flex;
    gap:0.8rem;
    
   
}
nav a{
    background:transparent;
    padding:0.9rem;
    border-radius:50%;
    display:flex;
    color:black;
    font-size:1.1rem;
    text-align: center;
}
/*nav a:hover{
    background:rgba(0,0,0,0.5);
    transition:0.3s;

}*/
.icon-container:hover {
     
    transform: scale(1.6); /* Increase the size of the container */
    transition: all 0.3s ease; /* Smooth transition */
  }
 .con{
    margin-top: 10%;
    
}
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon-container:hover .con {
    font-weight: bold;
  }
  .container {
    perspective: 1500px; /* Adjust as needed for the 3D effect */
  }
  
  .card {
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Smooth transition for flipping */
  }
  
  .card.show {
    transform: rotateY(-180deg); /* Flip the card to show the back */
  }
@media screen and (max-width: 768px) {
    .con{
        display:none;
    }
}