
nav{
    background:radial-gradient(at right center, rgb(56, 189, 248), rgb(49, 46, 129));
    
    width:fit-content;
   justify-content: center;
    padding:0.7rem 2.7rem ;
    top: 0;
    position:sticky;
    margin-left:50%;
    transform:translateX(-50%);
    z-index: 1000;
    display:flex;
    gap:0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(50px);
   
}
nav a{
    background:transparent;
    padding:0.9rem;
    border-radius:50%;
    display:flex;
    color:var(--color-light);
    font-size:1.1rem;
    text-align: center;
}
nav a:hover{
    background:rgba(0,0,0,0.5);
}
@media screen and (max-width: 768px) {
    .con{
        display:none;
    }
}